@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<script src="~/Content/layui/layui.js"></script>
<form class="layui-form" action="">
    <div class="layui-form-item">
        @Html.Label("用户名", new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <input type="text" name="UserName" placeholder="用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        @Html.Label("邮箱", new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <input type="text" name="Email" placeholder="邮箱" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        @Html.Label("手机号码", new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <input type="text" name="Mobile" placeholder="手机号码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        @Html.Label("性别", new { @class = "layui-form-label" })
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
        </div>
    </div>
    <div class="layui-form-item">
        @Html.Label("密码", new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <input type="password" name="Password" placeholder="密码" autocomplete="off" class="layui-input">
        </div>
        @*<div class="layui-form-mid layui-word-aux">辅助文字</div>*@
    </div>
    <div class="layui-form-item">
        @Html.Label("密码确认", new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            <input type="password" name="PasswordConfirm" placeholder="密码确认" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<style type="text/css">
    
</style>
<script>
    ////Demo
    //layui.use('form', function () {
    //    var form = layui.form;

    //    //监听提交
    //    form.on('submit(submit)', function (data) {
    //        debugger;
    //        layer.msg(JSON.stringify(data.field));
    //        return false;
    //    });
    //});
</script>

